{% extends "common/base.html" %}
{% block content %}
<div class="col-xs-12 mx-auto mt-5 px-0 container">
    <h1>第{{n}}楼</h1>
    <div class="dropdown-divider"></div>
    <div class="container">
    <div class="row">
        {% for key in area.keys() %}
            <div class="col-xs-4 mx-auto">
            <h2>区域{{key}}</h2>
            {% for row in area[key] %}
                  <button 
                      type="button"
                      class="btn {{row['heat']}}"
                      data-toggle="modal"
                      data-target="#exampleModal"
                      onclick="getTableInfo('{{n}}','{{key}}','{{row.get('id')}}')"
                  >{{row['id']}}</button>
                <br/>
            {% endfor %}
            </div>  
        {% endfor %}
    </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">详细信息</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary">确认</button>
            </div>
          </div>
        </div>
</div>
<script>
  async function getTableInfo(floor,area,table){
    let res = await fetch(`/floor/${floor}/area/${area}/table/${table}`)
    let data = await res.json()
    console.log(data)
  }
</script>
{% endblock %}
